@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-text-stroke: 1px) {
  .text-inherit {
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
  }
}

.use {
  stroke-dasharray: 1 10;
  fill: none;
  stroke-width: 1px;
  stroke: rgba(255, 255, 255, 0.5);
}
