@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-text-stroke: 1px) {
  .text-inherit {
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
  }
}

.use1 {
  stroke-dasharray: 1 6;
  fill: none;
  stroke-width: 1px;
  stroke: rgba(255, 255, 255, 0.3);
}

.use2 {
  stroke-dasharray: 1 12;
  fill: none;
  stroke-width: 1px;
  stroke: rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}
