@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-text-stroke: 1px) {
  .text-inherit {
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
